@import url('https://fonts.googleapis.com/css?family=Exo+2|Lobster');

body {
  background-color: #0454BB;
}

.image-container {
  width: 100%;

 }

.image-container img {
  width: 100%;
  height: 550px;
  margin: 0 auto;
  opacity: 0.3;
  position: relative;
  }

.image-container p {
  font-family: 'Lobster', cursive;
  color: green;
  font-size: 120px;
  position: initial ;

}
