<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FEEDSTOCK</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    HOME using<code>ejs</code>
  </body>
</html>
